climasim.duckdns.org {
    # Adiciona os cabeçalhos de CORS permitindo que o GitHub Pages acesse
    header {
        Access-Control-Allow-Origin "https://marcleonio.github.io"
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type"
    }

    # Encaminha o tráfego para o seu frontend Next.js na VPS
    reverse_proxy frontend:3000
}